
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: rgb(157, 90, 219);
    padding: 10px;
}

.grid > div{
    background-color: rgb(190, 158, 219);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}


    /* conta as linhas de baixo
    item um começara na coluna 1 antes da coluna 5
    Com 'span' melhor pra entender, ele se espalha 'span'
 */
/*.item1{
    grid-column: 1 / span 2; /* espalhamento Horizontal */
/*    grid-row: 1 / span 2; /*espalhamento vertical */
/*}

/*
.item2{
grid-column: 2 / span 3;
grid-row: 1 / span 2; /* primeiro valor onde ele esta, segundo o espalhamento vertical*/
/*}

/*
    quatros valores: linha top, num colunas verticais, num vertical, num horizontal
*/
.item8{
    /* grid-area: 1 / 2 / 5 / 6; */
    grid-area:  1 /  2 / span 4 / span 4;
}

/*Grid -area nomeando*/
.grid-container{
    display: grid;
    /* grid-template-ar: 'myArea myArea myArea myArea myArea'; */

    /* dois so */
    /* grid-template-areas: 'myArea myArea . . .';  */

    /*dois linha dois columns*/
    grid-template-areas: 'myArea myArea ...' ' myArea myArea...';

    
    grid-gap: 10px;
    background-color: rgb(157, 90, 219);
    padding: 10px;
}
.grid-container > div{
    background-color: rgb(190, 158, 219);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

/*um so*/
.item1s{
    grid-area: myArea;
}


