*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding: 40px;
    background-color: #888;
}
.center{
    padding: 10px;
    width: 400px;
    margin: 0px auto;
    background-color: rgb(223, 248, 191);

    

}

.tooltip, .tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    
  }
  
.tooltip .text{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /*position do texto*/
    position: absolute;
    z-index: 1;
    bottom: 100%;/*bottom fica cima, top fica baixo*/
    left: 50%;
    margin-left: -60px; /* a metade da largura*/
    
    /*animação*/
    opacity: 0;
    transition: opacity 1s;
}
.tooltip:hover .text {
    visibility: visible;
    opacity: 1;
  }


.tooltip2 .text2{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /*position*/
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%; /* left*/

    opacity: 0;
    transition: opacity 1s;/* no hover tem ter opacity*/
}

.tooltip:hover .text::after {
    content: "";
    position: absolute;
    /*onde fica a ponta*/

    top: 100%;/* bottom fica top tr tr black, top fica baixo*/
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip2:hover .text2::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tooltip2:hover .text2 {
    visibility: visible;
    opacity: 1;
}
